#chocolala { width:50%; height:50%;margin-right: auto;margin-left: auto;display: block;

}
#tablechoc {
	width: 100%
}
h1 {
	background-color: grey;color: pink;
}
#boxrecipe{
	background-color: grey;
}
h3{
	color: pink; text-align: center;
}